/*
CSS for the RoboTeam theme

Created for the RoboTeam Twente as part of the Design Project for the Bachelor
Technical Computer Science of the University of Twente.

All Rights Reserved.
*/

/* Enable full height*/
html,
body {
  height: 100%;
}

/* Navigation */
.navbar-roboteam {
  color: white;
  background-color: #E2231A !important;
}

/* Buttons */
.btn-roboteam-outline-inverted {
  color: white;
  background-color: transparent;
  border-color: white;
  margin-right: 5px;
}

.btn-roboteam-outline-inverted:hover {
  background-color: white;
  color: #E2231A;
}

.btn:focus {
  box-shadow: none;
}
/* Flex-grow */
.flex-grow {
  flex-grow: 1;
}

.panel-container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

/* Panels */
.panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.panel-menu {
  background: #333;
  padding: 5px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
}

.panel-title {
  font-size: large;
}

.panel-action-bar {
  vertical-align: center;
}

.panel-action {
  font-size: small;
  padding: 0 5px;
  cursor: pointer;
}

.panel-content {
  flex-grow: 1;
}

.panel-full-screen, .panel-hide {
  display: none;
}

iframe {
  border: none;
}

#panel-simulation {
  display: none;
}

#assignment-selector {
  height: 38px;
  border-radius: 5px;
  background-color: #e2231a;
  border-color: white;
  color: white;
  margin-right: 5px;
  padding: 5px;
}

#assignment-selector:hover {
  color: #e2231a;
  background-color: white;
}