/*
CSS for the RoboTeam theme

Created for the RoboTeam Twente as part of the Design Project for the Bachelor
Technical Computer Science of the University of Twente.

All Rights Reserved.
*/

/* Enable full height*/
html,
body {
    height: 100%;
}

/* Navigation */
.navbar-roboteam {
    color: white;
    background-color: #E2231A !important;
}

/* Buttons */
.btn-roboteam-outline-inverted {
    color: white;
    background-color: transparent;
    border-color: white;
}

.btn-roboteam-outline-inverted:hover {
    background-color: white;
    color: #E2231A;
}

/* Flex-grow */
.flex-grow {
    flex-grow: 1;
}

.panel-container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

/* Panels */
.panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.panel-menu {
    background: #333;
    padding: 5px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
}

.panel-title {
    font-size: large;
}

.panel-action-bar {
    vertical-align: center;
}

.panel-action {
    font-size: small;
    padding: 0 5px;
    cursor: pointer;
}

.panel-content {
    flex-grow: 1;
}

.panel-show-other, .panel-switch {
    display: none;
}

iframe {
    border: none;
}